
*.log
quick-test
test
tmp
temp
tmp.*
temp.*
*.tmp
*.temp
*.sh
*.tern-project*
*.editorconfig*
*.eslintrc*
tslint*
.git*
/.travis.yml
/appveyor.yml
/circle.yml
/sh
coverage
docs
yarn.lock
package-lock.json
shrinkwrap*
renovate*
tsconfig*
jest.config*
*.ts
!*.d.ts
*.map.*
